{{> header }}
{{> navigation }}

<!-- BANNER COMPONENT -->
<div class="inner-banner">
	<div class="inner-banner__item inner-banner__item--not-full">
		<div class="inner-banner__image" style="background: url(/banner/blog-single.jpg) no-repeat center/cover;"></div>
	</div>
	<div class="inner-banner__date">
		<span class="inner-banner__date-day">{{blog.formatedDate.dayNum}}</span>
		<span class="inner-banner__date-month">{{blog.formatedDate.halfMonth}}</span>
	</div>
</div>
<!-- BANNER COMPONENT -->

<div class="blog blog--single">
	<div class="blog__details">
		<div class="container">
			<h3 class="blog__h3 blog__h3--title">{{page.title}}</h3>
			<div class="divider blog__divider">
				<svg class="divider__svg" width="24" height="30" viewBox="0 0 24 30">
					<g fill="#000">
						<path d="M22.737.163a.765.765 0 0 0-.762.768V27.2l-9.525-9.575c-.02-.02-.044-.035-.064-.052a.75.75 0 0 0-1.13-.062L1.56 27.26V.932a.767.767 0 0 0-1.53 0v28.067c0 .426.342.77.765.77a.26.26 0 0 0 .052-.006c.02.003.039.006.06.006a.764.764 0 0 0 .539-.224l10.351-10.408 10.268 10.326a.752.752 0 0 0 .217.15.744.744 0 0 0 .456.156.765.765 0 0 0 .764-.77V.931a.765.765 0 0 0-.764-.768"/><path d="M4.888 18.665s.019-.006.032-.006c0 0 .023.006.036.006a.744.744 0 0 0 .53-.222l6.04-6.099 5.992 6.047c.05.058.112.095.173.132a.761.761 0 0 0 .436.142c.413 0 .747-.34.747-.755V.917a.75.75 0 0 0-.747-.754.75.75 0 0 0-.748.754V16.12l-5.256-5.303c-.014-.01-.023-.02-.035-.032-.014-.011-.024-.026-.034-.04a.745.745 0 0 0-1.057 0l-5.364 5.412V.917a.752.752 0 0 0-.745-.754.75.75 0 0 0-.748.754V17.91c0 .415.335.755.748.755"/>
					</g>
				</svg>
			</div>
			<div class="blog__details-info">
				<div class="blog__details-info-item author">
					<div class="blog__details-info-item-svg">
						<svg width="18" height="17" viewBox="-1 0 18 17" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#CD2E2F"><path d="M.5 16.5h15.967V.5H.5zM4.119 6.133h8.832M4.016 10.867h4.478"/></g></svg>
					</div>
					<div>by <a href="">Mary Lyons</a></div>
				</div>
				<div class="blog__details-info-item">
					<div class="blog__details-info-item-svg">
						<svg width="23" height="15" viewBox="-1 -1 23 15" xmlns="http://www.w3.org/2000/svg"><path stroke="#CD2E2F" fill="none" d="M15.829 13H0V0h15.829l5.497 6.5z"/></svg>
					</div>
					<span>Personal Reflections</span>
				</div>
				<div class="blog__details-info-item">
					<div class="blog__details-info-item-svg">
						<svg width="19" height="18" viewBox="-1 -1 19 18" xmlns="http://www.w3.org/2000/svg"><path d="M15.461 1.482a4.88 4.88 0 0 0-7.005 0 4.881 4.881 0 0 0-7.005 0c-1.935 1.976-1.935 5.18 0 7.156l7.005 7.155 7.005-7.155c1.935-1.976 1.935-5.18 0-7.156z" stroke="#CD2E2F" fill="none"/></svg>
					</div>
					<a href="{{social-links.metadata.face_book}}">Facebook</a>
					<a href="{{social-links.metadata.twitter}}">Twitter</a>
					<a href="{{social-links.metadata.linkedin}}">LinkedIn</a>
				</div>
			</div>
			<div class="blog__details-content">
				{{{blog.content}}}
			</div>
			<div class="blog__details-nav">
				{{{previous}}}
				{{{next}}}
			</div>
		</div>
	</div>

	<div class="blog__articles blog__articles--single">
		<div class="container">
			<h3 class="blog__h3">More Wealth Knowledge</h3>
			<div class="divider blog__divider">
				<svg class="divider__svg" width="24" height="30" viewBox="0 0 24 30">
					<g fill="#000">
						<path d="M22.737.163a.765.765 0 0 0-.762.768V27.2l-9.525-9.575c-.02-.02-.044-.035-.064-.052a.75.75 0 0 0-1.13-.062L1.56 27.26V.932a.767.767 0 0 0-1.53 0v28.067c0 .426.342.77.765.77a.26.26 0 0 0 .052-.006c.02.003.039.006.06.006a.764.764 0 0 0 .539-.224l10.351-10.408 10.268 10.326a.752.752 0 0 0 .217.15.744.744 0 0 0 .456.156.765.765 0 0 0 .764-.77V.931a.765.765 0 0 0-.764-.768"/><path d="M4.888 18.665s.019-.006.032-.006c0 0 .023.006.036.006a.744.744 0 0 0 .53-.222l6.04-6.099 5.992 6.047c.05.058.112.095.173.132a.761.761 0 0 0 .436.142c.413 0 .747-.34.747-.755V.917a.75.75 0 0 0-.747-.754.75.75 0 0 0-.748.754V16.12l-5.256-5.303c-.014-.01-.023-.02-.035-.032-.014-.011-.024-.026-.034-.04a.745.745 0 0 0-1.057 0l-5.364 5.412V.917a.752.752 0 0 0-.745-.754.75.75 0 0 0-.748.754V17.91c0 .415.335.755.748.755"/>
					</g>
				</svg>
			</div>
			<!-- LIST -->
			<div class="blog__articles-list row">
				{{# blogs }}
				<div class="card-01 blog__articles-item col-xs-12 col-sm-6 col-md-4">
					<div class="card-01__wrapper">
						<div class="card-01__date">
							<span class="card-01__date-day">{{formatedDate.dayNum}}</span>
							<span class="card-01__date-month">{{formatedDate.halfMonth}}</span>
						</div>
						<a href="/blogs/{{slug}}" class="card-01__image-wrapper">
							<img class="card-01__image" src="{{metadata.blog_image.url}}" alt="">
						</a>
						<div class="card-01__content-wrapper">
							<div class="card-01__content">{{title}}</div>
							<a href="/blogs/{{slug}}" class="card-01__button">
								<span class="card-01__button-label">Read More</span>
								<div class="card-01__button-arrow">
									<svg width="29" height="11" viewBox="0 0 29 11">
										<g fill="none" stroke="#000"><path d="M22 0l5 4.5L22 9M26.796 4.958H0"/></g>
									</svg>
								</div>
							</a>
						</div>
					</div>
				</div>
				{{/ blogs }}

			</div>
			<!-- LIST -->
		</div>
	</div>
</div>

{{> form2 }}
{{> footer1}}
{{> footer}}